@import "../../node_modules/normalize.css/normalize.css";

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  min-height: 100vh;
}

#AppRoot {
  display: flex;
  flex-flow: column;
  justify-content: center;
}
