.App {
  min-height: 100vh;
  background-color: #00ffee;
  color: #003950;
  padding-bottom: 25px;

  font-family: monospace;

  &-title {
    text-align: center;
    font-size: 40px;

    a {
      color: inherit;
      text-decoration: none;
    }
  }

  &-jokesLists {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    max-width: calc(100% - 20px);
    margin: 0 auto;

    @media (min-width: 1024px) {
      max-width: 80vw;
      flex-direction: row;
    }
  }
}
