.Joke {
  list-style: none;
  margin: 0 0 10px;
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 5px;
  display: flex;
  overflow: hidden;
  box-shadow: 0 3px 7px -4px rgba(0, 0, 200, 0.4);

  &-text {
    flex: 1;
  }
}

.StarToggle {
  &-checkbox {
    display: none;
  }
  &-label {
    display: flex;
    align-items: center;
    justify-content: center;

    margin: -10px -10px -10px 20px;
    background-color: rgba(255, 255, 255, 0.8);
    width: 40px;
    color: #333;

    &:hover {
      background-color: rgba(255, 255, 255, 0.95);
    }

    cursor: pointer;

    &::before {
      content: "☆";
      font-size: 20px;
      color: rgba(20, 20, 20, 0.3);

      .StarToggle-checkbox:checked + & {
        content: "★";
        color: rgb(255, 225, 0);
        text-shadow: 0 0 6px rgba(0, 0, 0, 0.8);
      }
    }
  }
}
