.SwitchButton {
  display: block;
  margin: 0 auto 20px;
  font-family: inherit;
  font-size: 20px;
  font-weight: bold;
  color: white;
  background-color: rgb(86, 66, 214);
  border: none;
  padding: 12px;
  border-radius: 4px;
  box-shadow: 0 4px 0 0 rgb(130, 116, 221);
  cursor: pointer;

  &:hover,
  &:focus {
    background-color: #a59ce1;
    box-shadow: 0 4px 0 0 rgb(111, 68, 211);
  }
  &:focus {
    outline: none;
  }
  &:active {
    position: relative;
    top: 2px;
    box-shadow: 0 2px 0 0 rgb(111, 68, 211);
  }

  &.is-on {
    background-color: rgb(252, 111, 46);
    box-shadow: 0 4px 0 0 rgb(131, 52, 16);

    &:hover,
    &:focus {
      box-shadow: 0 4px 0 0 rgb(131, 52, 16);
    }
    &:active {
      box-shadow: 0 2px 0 0 rgb(131, 52, 16);
    }
  }
}
